<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Extensive FlyFF simulator">
    <title>Flyff Simulator</title>

    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="icon" href="images/chrsysscrrestat.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet"> 

    <script>
        window.Promise ||
          document.write(
            '<script src="https://cdn.jsdelivr.net/npm/promise-polyfill@8/dist/polyfill.min.js"><\/script>'
          )
        window.Promise ||
          document.write(
            '<script src="https://cdn.jsdelivr.net/npm/eligrey-classlist-js-polyfill@1.2.20171210/classList.min.js"><\/script>'
          )
        window.Promise ||
          document.write(
            '<script src="https://cdn.jsdelivr.net/npm/findindex_polyfill_mdn"><\/script>'
          )
    </script>

    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="https://unpkg.com/vue@3.2.20/dist/vue.global.prod.js"></script>
</head>
<body id="body">
  <div class="tooltip">
    <h5>info</h5>
  </div>

  <img src="images/radial.png" id="bg-radial">
  <div id="app">
    <div class="mainpage">
        <div class="sidepanel">
            <div class="panelcontent">
                <div class="char">
                    <h3>Your character</h3>
                    <div class="stats">
                        <div class="titles">
                            <h5>Class</h5>
                            <h5>Level</h5>
                            <h5>STR</h5>
                            <h5>STA</h5>
                            <h5>DEX</h5>
                            <h5>INT</h5>
                            <h5>Assist buffs</h5>
                            <h5>Stat points</h5>
                        </div>
                        <div class="values">
                            <span class="value">
                                <select name="class" @change="updateJob($event)" id="job">
                                    <option value="Vagrant">Vagrant</option>
                                    <option value="Assist">Assist</option>
                                    <option value="Billposter">Billposter</option>
                                    <option value="Ringmaster">Ringmaster</option>
                                    <option value="Acrobat">Acrobat</option>
                                    <option value="Jester">Jester</option>
                                    <option value="Ranger">Ranger</option>
                                    <option value="Magician">Magician</option>
                                    <option value="Psykeeper">Psykeeper</option>
                                    <option value="Elementor">Elementor</option>
                                    <option value="Mercenary">Mercenary</option>
                                    <option value="Blade">Blade</option>
                                    <option value="Knight">Knight</option>
                                </select>
                            </span>
      
                            <span class="value">
                              <button class="btn-plus" @click="character.level--">-</button>
                              <input class="charinput" type="number" v-model="character.level"/>
                              <button class="btn-plus" @click="character.level++">+</button>
                            </span>

                            <span class="value">
                              <button class="btn-plus" @click="character.str--">-</button>
                              <input class="charinput" type="number" v-model="character.str"/>
                              <button class="btn-plus" @click="character.str++">+</button>
                            </span>

                            <span class="value">
                              <button class="btn-plus" @click="character.sta--">-</button>
                              <input class="charinput" type="number" v-model="character.sta"/>
                              <button class="btn-plus" @click="character.sta++">+</button>
                            </span>

                            <span class="value">
                              <button class="btn-plus" @click="character.dex--">-</button>
                              <input class="charinput" type="number" v-model="character.dex"/>
                              <button class="btn-plus" @click="character.dex++">+</button>
                            </span>

                            <span class="value">
                              <button class="btn-plus" @click="character.int--">-</button>
                              <input class="charinput" type="number" v-model="character.int"/>
                              <button class="btn-plus" @click="character.int++">+</button>
                            </span>

                            <span class="value">
                              <label for="buffs"></label>
                              <input id="buffs" type="checkbox" @change="character.applyAssistBuffs($event.target.checked)">
                              <input class="charinput" type="number" v-model="character.assistInt"/>
                              <h5 style="color: #7279AA;">int</h5>
                            </span>
                            
                            <p id="statpoints">{{ character.remainingPoints }}</p>
                        </div>
                    </div>

                    <h3>Equipment</h3>
                    <div class="stats">
                      <div class="titles">
                        <h5>Armor set</h5>
                        <h5>Weapon</h5>
                      </div>
                      <div class="values">
                        <p class="equip">{{ character.armor ? character.armor.name.en : "None" }}</p>
                        <p class="equip">{{ character.weapon ? character.weapon.name.en : "None" }}</p>
                      </div>
                    </div>
                    <h5 style="opacity: 0.5;">These values cannot be changed on the web version of this calculator. If you would like to experiment with specific equipment, there will be an executable desktop application soon.</h5>

                    <h3>Changelog</h3>
                    <div class="stats" id="changelog">
                      <h5>October 20</h5>
                      <ul>
                        <li>Fixed issues with input validation.</li>
                      </ul>
                      <h5>October 19</h5>
                      <ul>
                        <li>Added time-to-kill information in the damage section.</li>
                        <li>Improved calculations for average auto-attack damage to be more accurate with critical damage. (Ranger currently has inconsistencies)</li>
                        <li>Added an input for the amount of INT an assist has for assist buffs.</li>
                      </ul>
                    </div>
                    <h5 style="opacity: 0.5;">This section will only outline notable changes. If you would like to follow development more closely, visit the GitHub page.</h5>
                </div>
      
            </div>
        </div>
      
        <div class="content">
            <div class="basestats">
              <img :src="'images/' + character.weapon_img">
                <div class="generalstats">
                  <div id="radarchart"></div>

                </div>
            </div>
            <div class="extensivestats">
                <h3>Leveling</h3>
                <div class="extensiverow">
                    <exp-per-kill title="Experience/Kill"></exp-per-kill>

                    <div class="extensivechart">
                      <p id="info">How many kills it would take to gain one level at each of these monsters at your current level.</p>
                      <img class="info-tooltip" src='images/Icons/info.png'>
                      <div id="chart"></div>
                    </div>

                    <div class="extensivechart">
                      <p id="info">A showcase of the EXP:Health ratio of the monsters around your level.</p>
                      <img class="info-tooltip" src='images/Icons/info.png'>
                      <div id="expHPChart"></div>
                  </div>
                </div>

                <div class="extensiverow">
                  <div class="extensivechart" id="big">
                    <p id="info">How many hits (auto-attack or skill, if applicable) it would take to gain one level at each of these monsters at your current level and power.<br>
                      The damage used in this calculation takes into consideration your hit rate, critical chance, and more to give an accurate result.</p>
                    <img class="info-tooltip" src='images/Icons/info.png' style="margin-right: 90px; margin-top: 12px">
                    <div id="hitsPerLevelChart"></div>
                  </div>
                </div>

                <h3>Damage</h3>
                <div class="extensiverow">
                  <char-damage title="Average AA" skillindex=-1 @click="updateMonsters(-1)"></char-damage>
                  <char-damage title="N/A" skillindex=0 @click="updateMonsters(0)"></char-damage>
                  <char-damage title="N/A" skillindex=1 @click="updateMonsters(1)"></char-damage>
                  <char-damage title="N/A" skillindex=2 @click="updateMonsters(2)"></char-damage>
              </div>
              <div class="footer">
                <h5>Flyff simulator built specifically for <a href='https://flyff-api.sniegu.fr/'>Project M</a> by Frostiae#2809</h5>
              </div>
            </div>
        </div>
      
        <div class="rightpanel">
            <div class="panelcontent" id="outputstats">
                <h5>Max Health</h5>
                <p>{{ character.health || "N/A" }}</p>
                <h5>Max MP</h5>
                <p>{{ character.mp || "N/A" }}</p>
                <h5>Max FP</h5>
                <p>{{ character.fp || "N/A" }}</p>
                <h5>Speed</h5>
                <p>100%</p>
                <hr>
                <h5>Attack</h5>
                <p>{{ character.attack.toFixed(0) || "N/A" }}</p>
                <h5>Attack Speed</h5>
                <p>{{ character.aspd + '%' || "N/A" }}</p>
                <h5>Hit Rate</h5>
                <p>{{ character.hitrate + '%' || "N/A" }}</p>
                <h5>Critical Chance</h5>
                <p>{{ character.criticalChance + '%' || "N/A" }}</p>
                <h5>Critical Damage</h5>
                <p>{{ character.criticalDamage || "N/A" }}</p>
                <hr>
                <h5>Defense</h5>
                <p>{{ character.defense || "N/A" }}</p>
                <h5>Parry</h5>
                <p>{{ character.parry + '%' || "N/A" }}</p>
                <h5>Melee Block</h5>
                <p>N/A</p>
                <h5>Ranged Block</h5>
                <p>N/A</p>
            </div>
        </div>
    </div>
  </div>

  <script type="module" src="/js/index.js"></script>
  <script type="module" src="/js/charts.js"></script>
  <script type="module" src="/js/chartManager.js"></script>


</body>
</html>