$bg-color: #0d0d0d;
$fg-color: #050505;
$fg2-color: #141414;
$border-color-fg: #202020;
$input-bg-color: #020202;
$input-border-color: #726953;
$border-color: #f1cb58;
$border-color-light: #f1cb5850;
$soft-border-color: #ffffff30;
$stat-bg-color: #00000020;
$stat-bg-color-hover: #00000050;